{% extends 'base.html' %}

{% block title %}citas{% endblock %}

{% block content %}

<section class="container">
    <h1>Autorizaciones</h1>
    <div>
        <form>
        <h2>Buscar Autorización</h2>
        <input type="text" id="numero-orden" placeholder="Número de Orden">
        <button id="buscar-btn">Buscar</button>
        <div id="resultado-busqueda"></div>
    </form>
    </div>

    <h2>Medicamentos</h2>
    <form id="form-medicamentos">
        <label for="nombre-medicamento">Nombre del Medicamento:</label>
        <input type="text" id="nombre-medicamento" required>
        <label for="cantidad-medicamento">Cantidad:</label>
        <input type="number" id="cantidad-medicamento" required>
        <button type="submit">Ordenar Medicamento</button>
    </form>
    <div id="resultado-medicamentos"></div>
</section>


{% endblock %}

