<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Olvidé mi contraseña</title>
</head>
<body class="login">
    <form action="/reset-password" method="POST">
        <h2>Olvidé mi Contraseña</h2>
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required><br>
        <button type="submit">Enviar Instrucciones</button>
        <p><a href="/">Volver al Login</a></p>  
    </form>
    
</body>
</html>
