{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}

    <main>
        <section id="inicio">
            <h1>Bienvenido</h1>
            <p>Gestione sus citas y revise la historia clínica de los pacientes.</p>
         
        </section>
        <section id="servicios">
            <h2>Servicios Prestados</h2>
            <ul>
                <li>Programación de Citas Médicas</li>
                <li>Recordatorios de Citas</li>
                <li>Consulta de Disponibilidad</li>
                <li>Historia Clínica Digital</li>
            </ul>
        </section>
        <section id="mision">
            <h2>Misión</h2>
            <p>Nuestra misión es ofrecer un servicio de salud accesible y de calidad, facilitando la gestión de citas médicas para mejorar la atención al paciente.</p>
        </section>

        <section id="vision">
            <h2>Visión</h2>
            <p>Ser el sistema líder en gestión de citas médicas, innovando continuamente para brindar la mejor experiencia al paciente y profesional de la salud.</p>
        </section>

        <section id="contacto">
            <h2>Contáctanos</h2>
            <p>Si tienes preguntas o necesitas más información, no dudes en <a href="mailto:info@tuservicio.com">enviarnos un correo electrónico</a>.</p>
        </section>
       

       
        
        {% endblock %}

